[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofauna = "*"
aiohttp_sse = "*"
aiodns = "*"
geocoder = "*"

[dev-packages]
aiohttp-devtools = "*"

[requires]
python_version = "^3.8"
