{% extends 'base.html' %}
{% block content %}
<h1 class="font-script fixed top-16 left-8 text-xl font-bold text-cyan-200 bg-black shadow-gray-500 shadow-lg rounded z-10 px-4 py-2 ">SandBox</h1>
<div class="container margin-auto mt-16 flex flex-col items-center">
<span class="iconify" data-icon="akar-icons:arrow-up-thick" class="text-4xl"></span>
<h2 class="px-4 py-2 bg-gray-300 text-black font-bold rounded">Choose your app</h2>
<div class="p-16 text-lg font-mono bg-red-400 text-black flex flex-col items-center">
<h1>Welcome! your ip is <strong>{{ip}}</strong></h1>
<h2>You are from <strong>{{country}} {{city}} {{region}}</strong></h2>
<h3>Your location is near here:</h3>
<strong>{{loc}}</strong>
<p>Your ISP:</p>
<strong>{{org}}</strong>
</div>
<h2 class="text-black bg-cyan-400 px-4 py-2 m-4 text-md">The host from your ISP has the following open TCP ports:</h2>
</div>
<ul>
{% for port in ports %}
<li class=" cursor-pointer px-2 py-2 text-sm font-mono bg-teal-500 text-black shadow-gray-500-shadow-lg rounded m-2 inline-block hover:bg-teal-700 hover:text-white decoration-none">:{{port}}</li>
{% endfor %}
</ul>

{% endblock %}